@tailwind base;
@tailwind components;
@tailwind utilities;
svg {
  display: inline;
}
.d--flex {
  align-items: center;
  display: flex;
}
.d--flex-2 {
  align-items: center;
  display: flex;
  justify-content: center;
}
.outer {
  background: linear-gradient(#ff8139, #ffeb3b, #ff8139);
  animation: rotate 1.5s linear infinite;
  & span {
    height: 100%;
    width: 100%;
    background: inherit;
    border-radius: 50px;
  }
  & button,
  & span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &:hover span:nth-child(1) {
    filter: blur(7px);
  }
  &:hover span:nth-child(2) {
    filter: blur(10px);
  }
}
@keyframes rotate {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
.bg_grdcolor::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  background: linear-gradient(#ff8139, #ff3998, #ff8139);
  border-radius: 50%;
  filter: blur(82px);
  transform: translate(-4px, 186px);
}
.bg_1 {
  background-image: linear-gradient(
    to right bottom,
    #ff8139,
    #ff7049,
    #ff6059,
    #ff506b,
    #ff447d,
    #ff447d,
    #ff447d,
    #ff447d,
    #ff506b,
    #ff6059,
    #ff7049,
    #ff8139
  );
}
.bg_2 {
  background-image: linear-gradient(
    to right top,
    #fba676,
    #f5b565,
    #e4c75a,
    #c9d95c,
    #a2ea6f,
    #8bf17c,
    #6cf88d,
    #39ffa0,
    #39ffa0,
    #39ffa0,
    #39ffa0,
    #39ffa0
  );
}
.slick-slider button {
  display: none !important;
}
.slick-slide img {
  display: inline;
}
.switch[data-isOn="true"] {
  justify-content: flex-end;
}