@tailwind base;
@tailwind components;
@tailwind utilities;
svg {
  display: inline;
}

.d--flex {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.d--flex-2 {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.outer {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8139), color-stop(#ffeb3b), to(#ff8139));
  background: linear-gradient(#ff8139, #ffeb3b, #ff8139);
  -webkit-animation: rotate 1.5s linear infinite;
          animation: rotate 1.5s linear infinite;
}

.outer span {
  height: 100%;
  width: 100%;
  background: inherit;
  border-radius: 50px;
}

.outer button,
.outer span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.outer:hover span:nth-child(1) {
  -webkit-filter: blur(7px);
          filter: blur(7px);
}

.outer:hover span:nth-child(2) {
  -webkit-filter: blur(10px);
          filter: blur(10px);
}

@-webkit-keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-filter: hue-rotate(0deg);
            filter: hue-rotate(0deg);
  }
  100% {
    -webkit-filter: hue-rotate(360deg);
            filter: hue-rotate(360deg);
  }
}

.bg_grdcolor::before {
  content: "";
  position: absolute;
  width: 240px;
  height: 240px;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff8139), color-stop(#ff3998), to(#ff8139));
  background: linear-gradient(#ff8139, #ff3998, #ff8139);
  border-radius: 50%;
  -webkit-filter: blur(82px);
          filter: blur(82px);
  -webkit-transform: translate(-4px, 186px);
          transform: translate(-4px, 186px);
}

.bg_1 {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#ff8139), color-stop(#ff7049), color-stop(#ff6059), color-stop(#ff506b), color-stop(#ff447d), color-stop(#ff447d), color-stop(#ff447d), color-stop(#ff447d), color-stop(#ff506b), color-stop(#ff6059), color-stop(#ff7049), to(#ff8139));
  background-image: linear-gradient(to right bottom, #ff8139, #ff7049, #ff6059, #ff506b, #ff447d, #ff447d, #ff447d, #ff447d, #ff506b, #ff6059, #ff7049, #ff8139);
}

.bg_2 {
  background-image: -webkit-gradient(linear, left bottom, right top, from(#fba676), color-stop(#f5b565), color-stop(#e4c75a), color-stop(#c9d95c), color-stop(#a2ea6f), color-stop(#8bf17c), color-stop(#6cf88d), color-stop(#39ffa0), color-stop(#39ffa0), color-stop(#39ffa0), color-stop(#39ffa0), to(#39ffa0));
  background-image: linear-gradient(to right top, #fba676, #f5b565, #e4c75a, #c9d95c, #a2ea6f, #8bf17c, #6cf88d, #39ffa0, #39ffa0, #39ffa0, #39ffa0, #39ffa0);
}

.slick-slider button {
  display: none !important;
}

.slick-slide img {
  display: inline;
}
/*# sourceMappingURL=main.css.map */